@using MaleFashion.Areas.PrivatePages.Model;

@{
    ViewBag.Title = "Index";
}

<!-- Chổ này để chỉ định kiểu dữ liệu của model mà controller gửi ra
    nhờ đó mà khi mình dùng Model. nó sẽ tự biết Model sẽ chứa các thuộc tính gì
    -->
@model MaleFashion.Models.ViewModels.DashboardViewModel

@{
    if (Session["Session_Group"] != null)
    {
        List<String> DacQuyen = (List<string>)Session["Session_Group"];
        if (DacQuyen[0].CompareTo("ADMIN") == 0)
        {
            <!-- page Admin -->
            <div class="right_col" role="main">
                <div class="row" style="display: inline-block;">
                    <div class=" top_tiles" style="margin: 10px 0;">
                        <div class="col-md-6 col-sm-6  tile">
                            <span>Số người hiện đang truy cập</span>
                            <h2 style="font-size: 20px">( Sắp có )</h2>
                            <span class="sparkline_one" style="height: 160px;">
                                <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                            </span>
                        </div>
                        <div class="col-md-6 col-sm-6  tile">
                            <span>Tổng doanh thu</span>
                            <h2 style="font-size: 20px">@String.Format("{0:#,##0} VNĐ", (long)Model.TongDoanhThu)</h2>
                            <span class="sparkline_one" style="height: 160px;">
                                <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                            </span>
                        </div>
                    </div>
                </div>
                <br />


                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="dashboard_graph x_panel">
                            <div class="x_title">
                                <div class="col-md-6">
                                    <h3>Doanh thu tháng này</h3>
                                </div>
                                <div class="col-md-6">
                                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                        <span></span> <b class="caret"></b>
                                    </div>
                                </div>
                            </div>
                            <div class="x_content">
                                <div class="demo-container" style="height:250px">
                                    <div id="chart_plot_03" class="demo-placeholder"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page Admin -->
            <br />
            <br />
        }
        if (DacQuyen[0].CompareTo("USER") == 0)
        {
            <!-- page User -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Thông tin cá nhân</h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li>
                                            <a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="col-md-3 col-sm-3  profile_left">
                                        <div class="profile_img">
                                            <div id="crop-avatar">
                                                <!-- Current avatar -->
                                                <img class="img-responsive avatar-view" src="~/Images/AvatarUser.png" alt="Avatar" style="width:200px;">
                                            </div>
                                        </div>
                                        @{
                                            if (Session["HovaTen"] != null)
                                            {
                                                <h3>@Session["HovaTen"].ToString()</h3>
                                            }
                                        }
                                        @{
                                            <ul class="list-unstyled user_data">
                                                <li>Người dùng thông thường <i class="fas fa-users"></i></li>
                                                <li>
                                                    Các chức năng :
                                                    <ul style="list-style-type:none;">
                                                        <li>Đăng bài viết <i style="color:green;" class="fas fa-check-circle"></i></li>
                                                        <li>Đăng sản phẩm <i style="color:green;" class="fas fa-check-circle"></i></li>
                                                        <li>Quản lí khách hàng <i style="color:red;" class="fas fa-times-circle"></i></li>
                                                        <li>Quản lí đơn hàng <i style="color:green;" class="fas fa-check-circle"></i></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        }

                                        <a class="btn btn-success" style="padding: 10px 30px;color:black;"><i class="fa fa-edit m-right-xs"></i>Chỉnh sửa thông tin</a>
                                        <br />

                                    </div>
                                    <div class="col-md-9 col-sm-9 ">
                                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                <li role="presentation" class="active">
                                                    <a href="#tab_content1" id="profile-tab" role="tab" data-toggle="tab" aria-expanded="true">Tiểu sử</a>
                                                </li>
                                                <li role="presentation" class="">
                                                    <a href="#tab_content2" role="tab" id="evaluate-tab2" data-toggle="tab" aria-expanded="false">Đánh giá</a>
                                                </li>
                                            </ul>
                                            <div id="myTabContent" class="tab-content">

                                                <!--Tiểu sử-->
                                                <div role="tabpanel" class="tab-pane active" id="tab_content1" aria-labelledby="profile-tab">
                                                    @{
                                                        <ul>
                                                            <li>Email  :  @Session["Email"].ToString()</li>
                                                            <li>Địa chỉ  :  @Session["DiaChi"].ToString()</li>
                                                            <li>Giới tính  :  @Session["GioiTinh"].ToString()</li>
                                                            <li>Ngày sinh  :  @Session["NgaySinh"].ToString()</li>
                                                            <li>Điện thoại  :  @Session["SoDT"].ToString()</li>
                                                        </ul>
                                                    }
                                                    <p>Mô tả thêm chi tiết...</p>
                                                </div>

                                                <!--Đánh giá-->
                                                <div role="tabpanel" class="tab-pane fade " id="tab_content2" aria-labelledby="evaluate-tab">
                                                    <ul class="messages">
                                                        <li>
                                                            <img src="~/Images/AvatarUser.png" class="avatar" alt="Avatar">
                                                            <div class="message_date">
                                                                <h3 class="date text-info">19</h3>
                                                                <p class="month">Tháng 1</p>
                                                            </div>
                                                            <div class="message_wrapper">
                                                                <h4 class="heading">Người dùng khác</h4>
                                                                <blockquote class="message">Chi tiết đánh giá.<br />(Chức năng này sắp có)</blockquote>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page User -->
            <br />
            <br />
        }
        if (DacQuyen[0].CompareTo("SHIPPER") == 0)
        {
            <!-- page Shipper -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Thông tin cá nhân</h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li>
                                            <a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="col-md-3 col-sm-3  profile_left">
                                        <div class="profile_img">
                                            <div id="crop-avatar">
                                                <!-- Current avatar -->
                                                <img class="img-responsive avatar-view" src="~/Images/AvatarUser.png" alt="Avatar" style="width:200px;">
                                            </div>
                                        </div>
                                        @{
                                            if (Session["HovaTen"] != null)
                                            {
                                                <h3>@Session["HovaTen"].ToString()</h3>
                                            }
                                        }
                                        @{
                                            <ul class="list-unstyled user_data">
                                                <li>Người vận chuyển <i class="fas fa-shipping-fast"></i></li>
                                                <li>
                                                    Các chức năng :
                                                    <ul style="list-style-type:none;">
                                                        <li>Đăng bài viết <i style="color:red;" class="fas fa-times-circle"></i></li>
                                                        <li>Đăng sản phẩm <i style="color:red;" class="fas fa-times-circle"></i></li>
                                                        <li>Quản lí khách hàng <i style="color:red;" class="fas fa-times-circle"></i></li>
                                                        <li>Quản lí đơn hàng <i style="color:green;" class="fas fa-check-circle"></i></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        }

                                        <a class="btn btn-success" style="padding: 10px 30px;color:black;"><i class="fa fa-edit m-right-xs"></i>Chỉnh sửa thông tin</a>
                                        <br />

                                    </div>
                                    <div class="col-md-9 col-sm-9 ">
                                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                <li role="presentation" class="active">
                                                    <a href="#tab_content1" id="profile-tab" role="tab" data-toggle="tab" aria-expanded="true">Tiểu sử</a>
                                                </li>
                                                <li role="presentation" class="">
                                                    <a href="#tab_content2" role="tab" id="evaluate-tab2" data-toggle="tab" aria-expanded="false">Đánh giá</a>
                                                </li>
                                            </ul>
                                            <div id="myTabContent" class="tab-content">

                                                <!--Tiểu sử-->
                                                <div role="tabpanel" class="tab-pane active" id="tab_content1" aria-labelledby="profile-tab">
                                                    @{
                                                        <ul>
                                                            <li>Email  :  @Session["Email"].ToString()</li>
                                                            <li>Địa chỉ  :  @Session["DiaChi"].ToString()</li>
                                                            <li>Giới tính  :  @Session["GioiTinh"].ToString()</li>
                                                            <li>Ngày sinh  :  @Session["NgaySinh"].ToString()</li>
                                                            <li>Điện thoại  :  @Session["SoDT"].ToString()</li>
                                                        </ul>
                                                    }
                                                    <p>Mô tả thêm chi tiết...</p>
                                                </div>

                                                <!--Đánh giá-->
                                                <div role="tabpanel" class="tab-pane fade " id="tab_content2" aria-labelledby="evaluate-tab">
                                                    <ul class="messages">
                                                        <li>
                                                            <img src="~/Images/AvatarUser.png" class="avatar" alt="Avatar">
                                                            <div class="message_date">
                                                                <h3 class="date text-info">19</h3>
                                                                <p class="month">Tháng 1</p>
                                                            </div>
                                                            <div class="message_wrapper">
                                                                <h4 class="heading">Người dùng khác</h4>
                                                                <blockquote class="message">Chi tiết đánh giá.<br />(Chức năng này sắp có)</blockquote>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page Shipper -->
            <br />
            <br />
        }
    }
}